.mail{
    flex: 1;
    background-color: whitesmoke;

}

.mail-tools{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

}

.mail-toolsLeft{
    display: flex;
}


.mail-body{
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: white;
    padding:20px;
    height: 80vh;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}
.mail-bodyHeader h2{
    font-weight: 400;
    margin-right: 20px;
}

.mail-bodyHeader {
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 20px;
    position: relative;
}
.mail-important{
    color:#e8ab02 !important;
}
.mail-message p{
    padding: 10px;
    margin-right: 20px;
    overflow-wrap: break-word;
}

.mail-bodyHeader p{
    margin-left: 20px;
}

.mail-time{
    position: absolute;
    top: 24px;
    right: 0;
    font-size: 12px;
    color: gray;
}